<h2>The Dictionary</h2>
<h3>Add a word</h3>

<% if @words.any?() %>
  <h3>Click on a word to see its definitions:</h3>

<ul>
  <% @words.each do |word| %>
  <li><a href="/word/<%= word.id() %>"><%= word.word() %></a></li>
  <%end%>
</ul>

<% else %>
  <p>There are no lists yet!</p>
<% end %>

 <a href="/word/new"><%= 'add new word' %></a>
