<!-- <h2>The Dictionary</h2>
<h3>Add a word</h3>

<form action="/" method="post">
  <label for="word">Your Word</label>
  <input type="text" name="word" >
  <button type="button" name="button" ></button>
</form>

<a href="/word/new">Click to add a new word</a> -->
