<h1>Add A Word</h1>

<form action="/word/new" method="post">
  <input type="text" name="word" id="word" placeholder="please enter a word">
  <button type="submit">click to add a new word</button>
</form>
